<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Show Quotes</title>
  </head>
  <body>
    <a href="/">Home</a>
    <h1>Here are some awesome quotes!</h1>
    <!-- <% for (var quote of quotes){ %>

        <p><%= quote.content %></p>
        <p><%= quote.name %></p>
        <p><%= quote.createdAt %></p>


    <% } %> -->

    <% for(var i in quotes){ %>
      <h3>Quotes: <%= quotes[i].content %></h3>
      <p>Author: <%= quotes[i].name %></p>
      <p><%= quotes[i].createdAt %></p>

    <% } %>

  </body>
</html>
